*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.list {
    display: flex;
    flex-direction: column;
    width: 400px; 
}

header {
    background-color: royalblue;
    font-size: 2rem;
    text-align: center;
    padding: 1rem ;
}

.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list ul li {
    border-bottom: 1px solid #ddd;
    display: flex;
}

.list ul li label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
}

.list ul li label input {
    display: none;
}

.list ul li label p {
    font-size: 1.6rem;
    font-weight: bold;
}


.list ul li label span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    /* position: absolute;
    right: 20px; */
}

.list ul li label span:before {
    content: "";
    height: 5px;
    width: 10px;
    display: block;
    border-left: 2px solid hsl(207, 24%, 49%);
    border-bottom: 2px solid hsl(207, 24%, 49%);
    margin: 4px auto;
    transform: rotate(-40deg);
    opacity: 0;
}

.list ul li label input:checked ~ span:before {
    opacity: 1;
}

.list ul li label input:checked ~ p{
   text-decoration: line-through;
}
